.borders {
    border: 1px solid black;
}


.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

header {
    margin: 0;
    
}

body {
    background-color: blanchedalmond;
}

.mypic {
    display: inline-block;


}

.menu {
    float: right;
    margin-right: 100px;
   
}

.menu ul {
    list-style: none;
    
   
}

.menu ul li {
    margin: 0;
    display: inline-block;
    
    
}

.menu ul li a {
    display: block;
    text-decoration: none;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}



.intro {
    font-size: 75px;
    color: black;
    font-style: italic;
    text-align: center;
    margin-bottom: 100px;
}

.row {
    text-align: center;
}